main {
  width: 100%;
}

.card-projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card-unico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  max-height: 500px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;

  transition: all .8s;

}

a{
  text-decoration: none;
  list-style: none;
}

h2{
  color: #ffffff;
}

.card-unico:hover {
  transform: scale(1.03);
}

.card-unico:hover p{
  display: block;
}

.card-unico img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.card-unico p {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  display: none;
}

